body {
    font-family: sans-serif;
    background-color: #FFFFE0;
}

main{
    font-family: New;
    color:#808080;
}
a{
    text-decoration: none;
    color: black;
}
.dig{
    border:solid 3px #A9A9A9;
}
.link-nav{
    border:solid 3px #8B4513;
    margin:5px;
    padding:2px;
}

.aligncenter {
    text-align: center;
}
