html{
  background-color: #7B68EE;
}
.tet {
  color: white;
}
.post{
  background-color: #FFE4E1;
}
 footer {
  padding: 10px;
  color: #fff;
}
.df{
  margin: 10px 10px 10px 10px;
}
.ff{
    margin: 5px 10px 10px 10px;
}
