html{
  background-color: #9370DB;
}
.tet {
  color: white;
}
.post{
  background-color: #E6E6FA;
}
 footer {
  padding: 10px;
  color: #fff;
}
.df{
  margin: 10px 10px 10px 10px;
}
.ff{
    margin: 5px 10px 10px 10px;
}
footer{
  background-color: black;
  margin: 20px 0px 0px 0px;
}
.hhh{
  color:	#191970;
  text-decoration: none;
}
.dm{

}
